* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #ffd700;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 250px;
    border-radius: 10px;
    margin-top: 10px;
}

.content {
    flex: 1;
}

main {
    width: 95%;
    max-width: 1100px;
    margin: 20px auto;
    padding: 25px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.biodata-box, .Kata-box {
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    background: #e9f5e9;
    width: 100%;
}

.biodata-box h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

h3 {
    font-style: italic;
    color: #555;
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ffd700;
    color: white;
    width: 100%;

    margin-top: auto;
}

.biodata-box p {
    font-size: 18px;
}

.biodata-box h2 {
    font-size: 30px;
}
